// Colors

$c-primary: #000000;
$c-secondary:#6b6b6b;

$c-bk-Sign: #f9eff9;

$c-btnF: #ffffff;
$c-btn: #664efc;

$c-links:#4c42fb;


// Gradients color
// #efd3f2
// #fdfcf9


// fonts
$font-primary: 'Nunito Sans', sans-serif;

$w-sm:200;
$w-md:300;
$w-bg:400;
$w-xbg:800;

// debug

$border: 1px solid red;