// Colors

$c-primary: #000000;
$c-secondary:#6b6b6b;

$c-bk-Sign: #f9eff9;

$c-btnF: #ffffff;
$c-btn: #664efc;

$c-links:#4c42fb;


// Gradients color
// #efd3f2
// #fdfcf9


// fonts
$font-primary: 'DM Sans', sans-serif;

$w-sm:400;
$w-md:500;
$w-bg:700;



// padding
$pd-sm: 1rem;
$pd-md: 1.25rem;
$pd-bg: 2.5rem;

// debug

$border: 1px solid red;