
@import 'abstracts/palette';
@import 'abstracts/mixins';

@import 'responsive/main-responsive';



html {
    
    font-family: $font-primary;
    font-size: 62.5%;
    
}

body {
    @include pancke-stack();
}

.wrapper {
    display: flex;
    flex-direction: column;
    background: linear-gradient(344deg, rgba(253,252,249,1) 21%, rgba(237,206,244,1) 100%);
    
    header {
        
        width: 100%;
        padding: 1.5rem;
        box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.1);
        
        .header-wrapper {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1124px;
            margin: 0 auto;
            
            .navbar {
                
                .menu {
                    display: flex;
                    padding-left: 0;
                    
                    &__item {
                        padding: 1.5rem 0;
                        
                    }
        
                    &__link {
                        padding: 0 $pd-md;
                        font-size: 1.7rem;
                        font-weight: $w-sm;
                        color: $c-primary;

                        &--btn {
                            @include base-button($c-btn, $c-btnF,  $w-bg, 230px);
                            
                            span {
                                @include base-text(1.7rem, start, $w-sm, normal, $c-btnF);
                            }
                            
                        }
                    }
                }
                
                .icon-menu {
                    display: none;
                }
                
            }
            
        }
        
        
    }

    .hero {
        @include split-screen("hero-content", "hero-img", center);
        row-gap: 2.5rem;
        width: 100%;
        max-width: 1124px;
        margin: 0 auto;
        padding: 1.5rem;
        
        &-content {
            grid-area: hero-content;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 562px;

            &__btn {
               
                @include base-button($c-btn, $c-btnF, $w-md, 230px);

                span {
                    @include base-text(1.7rem, $w-sm, #e1dddd );
                }
            }

            &__img {

                    width: 100%;
                    max-width: 230px;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                    margin-top: 2.5rem;
            }
        }
        
        &__img {
            grid-area: hero-img;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 562px;
            margin: 5rem auto;
            margin-bottom: 0;
    
            img {
                width: 100%;
                max-width: 90%;
                height: auto;
                object-fit: contain;
                object-position: center;
            }
            
            
        }
    }
    
}



main {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    padding: 1.5rem;

    .section-benefits {
        @include split-screen("benefit", "benefit-img", center);
        row-gap: 2.5rem;
        width: 100%;
        margin: 0 auto;
        padding: 1.5rem 0;

        // border: 1px solid green;

        .benefit {
            grid-area: benefit;
            width: 100%;
            max-width: 562px;
            // border: 1px solid purple;
        }

        .benefit-img {
            grid-area: benefit-img;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 562px;
            margin: 0 auto;
            margin-bottom: 0;
            // border: 1px solid pink;

            img {
                width: 100%;
                max-width: 90%;
                height: auto;
                object-fit: contain;
                object-position: center;
            }
        }

    }
}

footer {
   
    background-color: #fdfcf9;

    .footer-wrapper {

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 100%;
        max-width: 1124px;
        margin: 0 auto;
        padding: 1.5rem;


        .section-footer {
            flex-basis: 325px;
        }
    
        .section-links {
            flex-basis: 275px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
    
            .list {
                margin: 0;
                padding-left: 0;
                padding-right: 2.5rem;
    
                &__title {
        
                    @include base-text(2rem, $w-bg, $c-primary );
        
                }
    
                &-opt {
                    margin: 0;
                    margin-top: 1rem;
                    padding: 0;
    
                    &__item {
                        padding-bottom: 1rem
                    }
            
                    &__link {
            
                        @include base-text(1.7rem, $w-sm, $c-secondary);
            
                    }
                }
        
               
            }
        
        }
    }
  

    

    

    
}


@import 'abstracts/utilityClass';

@include menu( 43em );
@include tablet( 43em );
@include desktop( 62em );