/*========================
        LAYOUTS
========================*/
/*========================
        COMPONENTS
========================*/
html {
  font-family: "DM Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #f9f0f9;
}
body .title {
  font-size: 5.5rem;
  text-align: start;
  font-weight: 700;
  line-height: normal;
  color: #000000;
  margin-bottom: 0;
}
body .title-sub {
  font-size: 3.5rem;
}
body .title-ft {
  font-size: 2.5rem;
}
body .info {
  font-size: 1.7rem;
  text-align: start;
  font-weight: 400;
  line-height: 2.5rem;
  color: #6b6b6b;
}
body .info--color {
  margin: 0;
  margin-left: 1rem;
  color: black;
}
body .info span {
  font-size: 1.7rem;
  text-align: start;
  font-weight: 700;
  line-height: normal;
  color: #4c42fb;
}
body .link {
  font-size: 1.7rem;
  text-align: start;
  font-weight: 700;
  line-height: normal;
  color: #664efc;
}

header {
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.1);
}
header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
}
header .menu__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu__content .menu__back {
  padding: 5px;
  background-color: #fdf8fc;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  cursor: pointer;
}
header .menu__content .menu__text {
  display: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

main {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "advantages" "form";
  justify-items: center;
  row-gap: 2.5rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}
main .section-advantages {
  grid-area: advantages;
  width: 100%;
  max-width: 600px;
}
main .section-advantages .advantage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
}
main .section-advantages .icon {
  font-size: 2.5rem;
}
main .section-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: white;
}
main .section-form .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
main .section-form .form__label {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
main .section-form .form__input {
  padding: 1.5rem;
  border: 1px solid #E2E8F0;
  outline: none;
  border-radius: 5px;
  box-shadow: -36px 2px 79px -18px rgba(0, 0, 0, 0.1);
}
main .section-form .form__input:placeholder-shown {
  font-weight: 400;
  font-size: 1.5rem;
  color: #5D5D5E;
}
main .section-form .form__content {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}
main .section-form .form__info {
  margin-left: 0.5rem;
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.5px;
}
main .section-form .form__info a {
  font-weight: 500;
  color: #4c42fb;
  text-decoration-line: underline;
}
main .section-form .form__btn {
  width: 100%;
  min-width: 125px;
  max-width: 100%;
  padding: 16px;
  font-size: 1.7rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #664efc;
  border: 1px solid transparent;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}
main .section-form .form__btn:hover {
  color: #664efc;
  background-color: transparent;
  border: 1px solid #664efc;
}
main .section-form .form__btn:hover span {
  color: #664efc;
}

@media (min-width: 30em) {
  header .menu__content .menu__text {
    display: inline-block;
  }
}
@media (min-width: 62em) {
  main {
    grid-template-rows: auto;
    grid-template-areas: "advantages advantages form form";
    justify-items: center;
    column-gap: 0.5rem;
  }
  main .section-advantages {
    align-self: center;
    max-width: 450px;
  }
  main .section-advantages .title {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=signUp.css.map */
